body {
    background-color: #000000;
    background-image: url('../img/bground.jpg');

    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    color: #fff;
    font-family: sans-serif;
    margin: 0px;
}

a {
  color: #000000;
}

h1#kc-page-title {
  display: none;
}

/*title banner size and colour*/
div#kc-header {
  display: none;
}

div#kc-header-wrapper {
  display: none;
}

div#kc-username {
  display: none;
}

/* this is the centre floating form */

@media (min-width: 501px) {
  div#kc-content {
    position: relative;
    margin: 0 auto;
    top: 100px;
    width: 60%;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 0px 133px -37px rgba(255,255,255,1);
    border-radius: 2px;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  div#kc-content {
    position: relative;
    margin: 0 auto;
    top: 200px;
    width: 80%;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 0px 133px -37px rgba(255,255,255,1);
    border-radius: 2px;
    padding: 20px;
  }
}

/* label text */
form#kc-form-login label {
    color: #000000;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
div#kc-form-login {
    text-align: center;
}

div#info-area {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 45px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 99%;
}

div#info-area p {
    margin-right: 30px;
    display: inline;
    text-shadow: none;
    font-size: 20px;
}

/*fields*/
input[type=text], input[type=password] {
    width: 100%;
    border-left: none;
    border-top: none;
    border-right: none;
    margin-bottom: 20px;
    background-color: transparent;
    font-size: 16pt;
    transition: border-bottom 0.5s ease-in;
}

input[type=text]:focus, input[type=password]:focus {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 2px black;
  outline: none;
}

/*button*/
input[type=submit] {
    font-size: 12pt;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #000000;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
  background-color: #242424;
  transform: translateY(-1px);
}

div#kc-form-options div {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
}

div#kc-form-options div label {
    font-size: 20px;
}

div#kc-feedback {
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

div#kc-feedback-wrapper {
  padding: 1em;
}

div#kc-error-message {
    color: #7a0000;
}

div.feedback-success {
    background-color: rgba(155,155,255,0.1);
}

div.feedback-warning {
    background-color: rgba(255,175,0,0.1);
}

div.feedback-error {
    background-color: rgba(255,0,0,0.1);
}

div#kc-content-wrapper {
  color: #000000;
}